#navbar-container-chatroom {
    position: absolute;
    width: 100%;
    height: 6vh;
}

#content-container-chatroom {
    margin-top: 6vh;
    height: 94vh;
    width: 100vw;
    position: absolute;
    background-color: white;
    overflow: hidden;
}

#chat-display-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#chat-container {
    width: 50vw;
    padding: 10px;
    /* background-color: #66C7F4; */
    height: 75vh;
}

#live-chat-area {
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
    overflow-y: scroll;
}

.input-form {
    width: 100%;
    margin-top: 10px;
    background-color: white;
}



.input-form input {
    width: 80%;
    height: 50px;
    font-size: 20px;
}


#right-container {
    width: 40vw;
    padding: 10px;
    border: 1px solid #66C7F4;
    border-radius: 20px;
}


button {
    border: none;
    border-radius: 10px;
    font-size: large;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(to bottom right, white, #66C7F4);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-left: 20px;
}

button:hover {
    cursor: pointer;
}